<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/321d2bc3-4b41-4d42-ad09-ad14ea72161f/resourceGroups/stock-api20230419005945ResourceGroup/providers/Microsoft.ApiManagement/service/stock-ifba-api/apis/stock-ifba-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/321d2bc3-4b41-4d42-ad09-ad14ea72161f/resourceGroups/stock-api20230419005945ResourceGroup/providers/Microsoft.Web/sites/stock-api20230419005945</ResourceId>
    <ResourceGroup>stock-api20230419005945ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://stock-api20230419005945.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f7afa6e6-efe0-4382-a4c6-451fb8a0278b</ProjectGuid>
    <PublishUrl>https://stock-api20230419005945.scm.azurewebsites.net/</PublishUrl>
    <UserName>$stock-api20230419005945</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>